@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --color-red: #F03C42;
    --color-blue: #222374;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-gray: #CCCCCC;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

header {
    background-color: var(--color-red);
    height: 100px;
    display: flex;  
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    color: var(--color-white);
    font-size: 18px;
}

nav a {
    color: var(--color-white);
    font-size: 14px;
    display: flex;
}

nav a:hover {
    color: white;
}

nav img {
    width: 30px;
    padding-right: 10px;
}

#first-section {
    background-color: var(--color-blue);
}

.space-card{
    padding-bottom: 20px;
}

.space-card h2 {
    color: var(--color-white);
    padding: 20px 0 40px 0;
    font-size: 32px;
}

.space-card-text {
    background-color: var(--color-gray);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    color: var(--color-black);
}

.space-card-text h3 {
    padding-bottom: 20px;
    font-size: 20px;
}

.space-card-text p {
    font-size: 14px;
}

#second-section {
    background-color: var(--color-white);
}

.fights-card {
    padding-bottom: 20px;
}

.fights-card h2 {
    color: var(--color-red);
    padding: 20px 0 40px 0;
    font-size: 32px;
}

.fights-card-text {
    background-color: var(--color-blue);
    padding: 20px;
    border-radius: 8px;
    color: var(--color-white);
    margin-bottom: 20px;
}

.fights-card-text h3 {
    padding-bottom: 20px;
    font-size: 20px;
}

footer {
    height: 262px;
    background-color: var(--color-black);
    padding: 60px;
    color: var(--color-white);
}

.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.align{
    display: flex;
}

.social-media a{
    font-size: 14px;
    display: flex;
    padding-top: 10px;
}

.social-media img {
    width: 30px;
    padding-right: 10px;
}

.text-twitter {
    padding-right: 8px;
}

.infos {
    text-align: center;
    font-size: 14px;
    padding-top: 30px;
}